<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="addressDefult">
		SELECT * FROM ADDRESS WHERE default_address = 'Y' AND USER_ID = ?
	</entry>
	<entry key="addressList">
		SELECT * FROM ADDRESS WHERE default_address = 'N' AND USER_ID = ?
	</entry>
	<entry key="insertAddress">
		INSERT INTO ADDRESS(ADDRESS_NO, USER_ID, RECEIVER, PHONE, POSTCODE, ADDRESS)
    		VALUES(seq_address_no.nextval, ?, ?, ?, ?, ?)
	</entry>
</properties>